{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="content">
        <h1>Welcome to the EasyAdmin Dashboard</h1>
        <p>This is your custom dashboard for EasyAdmin.</p>
    </div>

    {# You can add more content, links, and widgets here #}
{% endblock %}
